<mat-toolbar color="primary" class="mat-toolbar mat-primary mat-toolbar-single-row">
  <span class="logo" class="link-style" (click)="redirectToHome()">Trips Manager</span>
  <div *ngIf="userInfo" class="user-info">
    <span class="link-style" (click)="toUserProfileInfo()" >{{userInfo.name}}</span>
    <span>
      <img [src]="userInfo.picture" class="profile-image" alt="" srcset="">
    </span>
    <span class="link-style" (click)="logout()">
      logout
    </span>
  </div>
</mat-toolbar>
<div class="header-bottom"></div>