<h1 style="text-align:center;text-decoration: underline"> <b>Flight Details</b> </h1>
<h2> <b> <i class="material-icons md-24">flight</i> {{tripDetails.flightInfo.sourceCode}} <i class="material-icons md-24">arrow_right_alt</i> {{tripDetails.flightInfo.destinationCode}} </b> </h2>
<div class="flex">
    <h2 class="start-date"> Journey on {{tripDetails.flightInfo.startDate}} </h2>
    <h2 class="end-date"> return on {{tripDetails.flightInfo.endDate}} </h2>
</div>
<label>
    <input class="form-check-input"
           type="checkbox"
           (change)="checkChanged()"
           [checked]="displayCode">
    Display Flight Code
</label><br>
<span *ngIf="displayCode"> {{flightBookingDetails.flightId}} </span>
<div class="flight-booking-details">
    <button mat-raised-button (click)="confirmDialog()" setColor class="cancel" [class.disabled]="isDisabled"> Cancel </button>
    <h2>Confirmation Id <i class="material-icons md-24">horizontal_rule</i> {{tripDetails.flightBookingId}}</h2>
    <h2> Status : <span [style.color]="flightStatusColor">{{tripDetails.flightInfo.status}}</span> </h2>
    <i *ngIf="!expanded" class="material-icons md-24 flight-expand-more" (click)="expandMore(tripDetails.flightBookingId)">expand_more</i>
    <i *ngIf="expanded" class="material-icons md-24 flight-expand-less" (click)="expandLess(tripDetails.flightBookingId)">expand_less</i>
</div>
<div *ngIf="flightBookingDetails && expanded" class="flight-booking-details">
    <div class="container-group">
        <div class="source">
            <p>{{flightBookingDetails.source}}</p>
            <p>{{flightBookingDetails.startTime}}</p>
        </div>
        <i class="material-icons md-24">arrow_right_alt</i>
        <div class="destination">
            <p>{{flightBookingDetails.destination}}</p>
            <p>{{flightBookingDetails.endTime}}</p>
        </div>
    </div>
    <p>{{flightBookingDetails.journeyTime}}</p>
    <p>Adults - {{flightBookingDetails.adults}} Children - {{flightBookingDetails.children}}</p>
</div>