.flex-container{
    display: flex;
}
.trip-cost{
    margin-left: auto;
}
.trip-card{
    margin: 15px;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(103,58,183,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(103,58,183,1);
    box-shadow: 0px 0px 3px 0px rgba(103,58,183,1);
}
.trip-card .booked-date{
    margin: 0px;
}
.trip-card .trip-cost{
    margin-bottom: 0px;
}
.trip-card:hover{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(103,58,183,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(103,58,183,1);
    box-shadow: 0px 0px 6px 0px rgba(103,58,183,1);
    cursor: pointer;
}
.trips-list{
    margin: 0 auto;
    width: 70%;
}
mat-spinner{
    margin:0 auto;
    margin-top: 150px;
}
.error{
    font-size: 30px;
    color: red;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
}